body {
    background-color: black;
    cursor: crosshair;
}

.bbutton {
    display: inline-block;
    width: 10%;
    border: none;
    background-color: transparent;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: crosshair;
    text-align: center;
    border-bottom: 2px solid white;
    width: 160;
    text-align: center;
    position: relative;
    top: 50%;
    left: 780px;
    transform: translate(-50%, -50%);
    transition: 0.3s;
}

.bbutton:hover {
    display: inline-block;
    width: 10%;
    border: none;
    background-color: transparent;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: crosshair;
    text-align: center;
    border-bottom: 2px solid #FF1493;
    width: 160;
    text-align: center;
    position: relative;
    top: 50%;
    left: 780px;
    transform: translate(-50%, -50%);
    transition: 0.3s;
}

.return {
    display: inline-block;
    width: auto;
    height: auto;
    border: none;
    background-color: transparent;
    color: white;
    padding: 14px 28px;
    font-size: 11px;
    cursor: crosshair;
    text-align: auto;
    border-bottom: 2px solid crimson;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    transition: 0.3s;
}

.return:hover {
    display: inline-block;
    width: auto;
    height: auto;
    border: none;
    background-color: transparent;
    color: white;
    padding: 14px 28px;
    font-size: 11px;
    cursor: crosshair;
    text-align: auto;
    border-bottom: 2px solid rgb(173, 25, 25);
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    transition: 0.3s;
}

p {
    background-color: transparent;
    color: white;
    border-bottom: 2px solid crimson
}